# development environments
.idea

# binaries
/build/

# test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# dependency directories
vendor/

# Go workspace file
go.work

# Data produced by unit tests
cmd/trace-cli/trace-test/